
**/*.DS_store
**/*.md5
**/*.log

__pycache__
*.py[cod]

*.egg-info
.project
.pydevproject

*~

**/*.ipynb_checkpoints

# Pycharm
.idea

models/
data/
out/
out.*/

config/celery.conf
config/celery.service
config/celerybeat.service

pandemic51/config.py
