<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>P51</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">HOME</a>
        </nav>
    </header>

    <section>
        <div>
            <h1>Welcome to the SDI Project!</h1>

            <p>This page was loaded at {{ load_time }}</p>
        </div>
    </section>

    <footer>
        <div>Designed & built by Voxel51 2020</div>
    </footer>

</body>
</html>